footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: $dark-font-color;
  color: $light-font-color;
  p {
    font-size: $p-small-font-size;
  }
}
