header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  .header-left-section {
    display: flex;
    align-items: center;
    .brand-logo {
      height: 60px;
      margin-right: 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .header-nav {
    display: flex;
    li {
      font-size: $secondary-font-size;
      font-weight: 500;
      margin: 0 10px;
      list-style: none;
      cursor: pointer;
    }
    li:hover {
      border-bottom: 2px solid $orange-font-color;
    }
  }
}

@media only screen and (max-width: 630px) {
  header {
    flex-direction: column;

    .header-left-section {
      flex-direction: column;
      align-items: center;

      .search-bar {
        width: auto;
      }
    }
    .header-right-section {
      display: none;
    }
  }
}
