@import "./styles/variables.scss";

header {
  display: flex;
  justify-content: space-between;
  margin: 10px;

  .header-left-section {
    display: flex;
    align-items: center;
    .brand-logo {
      height: 60px;
      margin-right: 5px;
    }
    .search-bar {
      width: 175px;
      border: none;
      border-bottom: 1.5px solid $semi-dark-font-color;
      margin-left: 25px;
    }

    .search-bar:focus {
      outline: none;
    }
  }

  .header-nav {
    display: flex;

    li {
      font-size: $secondary-font-size;
      font-weight: 500;
      margin: 0 10px;
      list-style: none;
      cursor: pointer;
    }

    li:hover {
      border-bottom: 2px solid $orange-font-color;
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;

    .header-left-section {
      flex-direction: column;
      align-items: center;

      .search-bar {
        width: auto;
      }
    }
    .header-nav {
      display: none;
    }
  }
}
