.restaurant-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .filter-button-container {
    .btn {
      background-color: $light-font-color;
      border: none;
      cursor: pointer;
      margin: 0 5px;
      font-size: $p-regular-font-size;
    }
    .btn-show-all {
      border: 2px solid $orange-font-color;
      color: $dark-font-color;
      padding: 6px;
    }
    .btn-filter {
      background-color: $orange-font-color;
      color: $light-font-color;
      padding: 8px;
    }
  }

  .restaurant-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 80%;

    .restaurant-card {
      margin: 10px;
    }

    .no-restaurant-found {
      padding: 50px;
      margin: 10px;
      font-size: $large-font-size;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      img {
        height: 125px;
      }
    }
  }
}

.restaurant-card {
  width: 200px;
  height: auto;
  padding: 10px;
  border-radius: 5px;

  h4 {
    font-size: $h4-regular-font-size;
  }

  p {
    font-size: $p-small-font-size;
    margin-bottom: 0px;
  }

  .restaurant-card-logo {
    width: 100%;
  }

  .restaurant-card-more-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .restaurant-rating {
      padding: 2px 5px;
      background-color: $rating-color;
      color: $light-font-color;
      border-radius: 2px;

      .checked {
        margin-right: 3px;
      }
    }
  }
}

.restaurant-card:hover {
  cursor: pointer;
  box-shadow: 2px 2px 3px $box-shadow-color;
}
