.restaurant-menu-container {
  .restaurant-heading {
    text-align: center;
  }
  .restaurant-menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .menu-item {
      margin: 10px;
      padding: 0 10px;
      h4 {
        font-size: $h4-regular-font-size;
        max-width: 100px;
      }
      .menu-item-addinfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: $p-regular-font-size;
        .menu-item-veg-category {
          font-size: 18px;
        }
        .add-to-cart-button {
          background: $rating-color;
          color: $light-font-color;
          font-size: $p-small-font-size;
          border: none;
          padding: 5px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
      &:hover {
        box-shadow: 2px 2px 3px $box-shadow-color;
      }
    }
  }
}
