.filter-container {
  display: flex;
  align-items: center;
  width: 74%;
  min-width: 300px;
  justify-content: space-between;
  .btn {
    background-color: $light-font-color;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    font-size: $p-regular-font-size;
  }
  .btn-show-all {
    border: 2px solid $orange-font-color;
    color: $dark-font-color;
    padding: 6px;
  }
  .btn-filter {
    background-color: $orange-font-color;
    color: $light-font-color;
    padding: 8px;
  }
  .search-bar {
    border: 2px solid $light-grey-font-color;
    color: $semi-dark-font-color;
    padding: 5px;
  }
}

@media only screen and (max-width: 630px) {
  .filter-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .search-bar {
      margin: 10px 0;
    }
  }
}
