//Font Family
$primary-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$logo-font-family: fantasy;

//Font Size
$primary-font-size: 14px;
$secondary-font-size: 13px;
$brand-identity-font-size: 16px;
$large-font-size: 18px;
$h4-regular-font-size: 12px;
$p-regular-font-size: 11px;
$p-small-font-size: 10px;

//Font Color
$dark-font-color: #000;
$semi-dark-font-color: #2f4f4f;
$light-font-color: #fff;
$orange-font-color: darkorange;
$box-shadow-color: #8888;
$rating-color: #db7c38;
